@import "variables";

* {
    margin:0;
    padding:0;
 }

section {
    h1{
        .titulo-producto{
            font-family: $fuente-principal;
            font-size: 2.5rem;
            font-weight:bolder;
            text-align: center;
            color: $color-titulos; 
            margin-top: 100px;
        }
    }
    .mates{
        margin-top: 70px;
    }
}

.card-title1{
    font-family: $fuente-card-size;
    font-weight: bolder;
    text-align: center;
}
.card-text1{
    text-align: center;
}