@import "variables";

section {
    h1{
    font-family: $fuente-principal;
    font-size: 2.5rem;
    font-weight:bolder;
    text-align: center;
    color: $color-titulos; 
    margin-top: 100px;
    }

    img{
        .card-img-top{
            width: 30px;
            height: 50px;
        }
    }

}
