@import "variables";

section{
    h1{
        font-family: $fuente-principal;
        font-size: 2.5rem;
        font-weight:bolder;
        text-align: center;
        color: $color-titulos;
    }
}   

.text-empresarial{
    font-family: $color-cards;
    font-size: 1.5rem;
    text-align: center;
}

section{
    h2{
        font-family: $fuente-principal;
        font-size: 2.5rem;
        font-weight:bolder;
        text-align: center;
        color: $color-titulos;
              
    }
}